---
# 1. Copy to secrets.yml
# 2. Set locally before applying

# I would recommend locally running:
# pwgen 24 -N 1 -s -y -n
# for one 24 char, secure password including symbols and numbers

db_pwd: "NotSet"
harbor_initial_pwd: ""  # Intentionally blank to fail deployment